.hide {
    display: none;
}

  #user{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
    color: rgb(14,14,14);
    font-size:x-large;
    text-decoration: underline;
  }

  #login,body{
    padding:40px;
    margin: 40px; 
    border: 2px solid black;
    background-image: url("download (3).jpeg");
    background-size: cover;
    background-position: 4px;
     background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    max-width: 100%;
    height: auto;
    background-size: cover;
  }

  input[type="text"],input[type="email"],input[type="password"]{
    font-family:Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h1{
    text-decoration: underline;
  }
  .teams {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(rgb(103, 167, 2));
      max-width:100%;
      height:auto;
  }

  p{
    color: rgb(7,7,7);
  }
  div#team-selection .team {
    padding: 6px;
    height: 80px;
    width: 150px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    border: 2px solid gray;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    cursor: pointer;
    overflow: hidden;
    background-color: rgb(3, 3, 3);
  
  }
  
  div#team-selection .selected-team {
    border-color: red;
  }
  
  
  .your-team {
    text-decoration: underline;
  }

@media (min-width:1025px)and (max-width:1366px){
  #team-selection{
   flex-wrap: wrap;
  }
  }

@media(min-width:992px) and (max-width:1024px){

  }
   
  @media (min-width: 768px) and (max-width: 991px) {

  }

  @media (min-width: 576px) and (max-width: 767px) {
  padding: 20px;
    margin: 20px;
    padding-left: 20px;
  }

  @media (min-width:375) and (max-width: 575px) {
   padding: 20px;
    margin: 20px;
    padding-left: 20px;
  }
   

   
